@keyframes ZoomImage {
  to {
    transform: initial;
  }
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
}

.Nav-options {
  display: flex;
  flex-direction: row;
  height: 80px;
  background-color: #FFE739;
  justify-content: space-between;
  align-items: center;
}

.Nav-options ul li {
  display: inline-block;
  margin-left: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons li p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1px;
  margin: 0;
  padding: 10px;
  background-color: white;
  position: relative;
}

.icons li p::before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: 5px;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.icons li a img {
  width: 40px;
}

.titulo {
  margin: 20px;
  font-family: 'PT Serif', serif;
  font-size: 2em;
  line-height: 1px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.titulo::before {
  content: '';
  width: 10px;
  height: 25px;
  background-color: #FF1F6D;
  display: inline-block;
  margin: 8px;
}

.Img {
  margin: 20px 0;
  position: relative;
  background-color: black;
  overflow: hidden;
}

.Img .texto {
  position: absolute;
  color: white;
  z-index: 500;
  word-wrap: break-all;
}

.Img .texto h1 {
  font-family: 'PT Serif', serif;
  font-size: 2em;
  line-height: 1px;
  font-size: 4em;
  margin: 90px 40px;
  text-shadow: 8px 4px black;
}

.Img .texto p {
  margin: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1px;
  font-size: 4em;
  line-height: normal;
  text-shadow: 2px 4px black;
}

.Img img {
  opacity: .4;
  height: 100vh;
  transform: scale(1.2);
  animation: ZoomImage 12s linear forwards;
}
