.Certificados{
    grid-column: 1 / 13;
    @include Device(s){
        grid-template-columns: 1fr;

    }
    margin: 0 0 64px 0 ;

    p{
        @include Tipografia(texto);
        grid-column: 1;
        @include Device(s){
            grid-column: 1;
            font-size: 1.4em;        
        }
        text-align: start;
        margin-left: 32px;
        font-size: 2em;
    }
    .Slide{
        margin: 32px;
        height: 600px;
        @include Device(m){
            height: 500px;

        }
        @include Device(s){
            height: 250px;

        }
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;
        li{
            margin: 32px;
            position: absolute;
            img{
                width: 800px;
                display: none;
                @include Device(m){
                    width: 600px;
                }
                @include Device(s){
                    width: 350px;
                }
            &.ativo{
                transition: .8s;
                display: block;

            }
            }
        }
    }

    
    .Butons{
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-around;
        
        button{
            @include Button;
        }
    }

    .Inprogress{
        @include Loading(10px, 10px);
    }
    
    .CertificadoAtivo{
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-left: 5px;
        border: 1px solid black;
        border-radius: 50%;
        background-color: rgb(0, 255, 0);
    }
    
}