.Cordiao{
    grid-column: 1 / -1;    
    max-width: 1200px;
    dt{
        margin: 32px;
        @include Tipografia(subtitulo);
        font-size: 2em;
        &::after{
            content: '▶';
            margin-left: 16px;
        }
        &.ativo {
            &::after{
                content: '▼';
            }
        }
        cursor: pointer;
    }

    dd{
        margin: 32px;
        @include Tipografia(texto);
        font-size: 2em;
        @include Device(s){
            font-size: 1.4em;
        }
        text-align: start;
        opacity: 0;
        display: none;    
        
        &.ativo{
            animation: ShowCordiao .8s forwards;
            display: block;
        }
    }
}

@keyframes ShowCordiao {
    to{
        opacity: initial;
    }
}