.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    @include Device(s){
        grid-template-columns: 1fr;
    }
}

.titulo {
    margin: 20px ;
    @include Tipografia(titulo);
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.titulo::before{
    content: '';
    width: 10px;
    height: 25px;
    background-color: $after_before;
    display: inline-block;
    margin: 8px;
}