.grafico{
    grid-column: 1 / -1;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: flex-start;
    @include Device(s){
        grid-template-columns: 1fr;
    }

    .Descricao{
        @include Tipografia(texto);
        justify-self: center;
        font-size: 2em;
        grid-column: 1;
        width: 550px;
        text-align: center;
        @include Device(m){
        font-size: 1.4em;
        width: 350px;
    } @include Device(s){
        width: 250px;
        font-size: 1.2em;
    }
    }

    .Grafico{
        margin: 32px 0;
        justify-self: center;
        @include Device(s){
            grid-column: 1 / -1;
            grid-row: 3;
        }
        .GraficoItem {
            display: inline-block;
            margin: 16px;
        }
    }

    .GraphDescription{
        width: 350px;
        height: auto;
        grid-column: 2;
        grid-row: 3;
        justify-self: center;
        display: flex;
        flex-direction: column;
        @include Device(s){
            grid-column: 1 / -1;
            grid-row: 4;
        }
        .GraphDescriptionItem{
            margin: 8px;
            height: 30px;
            position: relative;
            .NameGraph{
                @include Tipografia(texto);
                font-weight: bold;
                position: absolute;
                left: 0;
                top: 5px;
            }
        }
    }
}

.ContainerAlternativeToGraph{
    p{
        text-align: center;
        @include Tipografia(texto);
        font-size: 2em;
        @include Device(s){
            font-size: 1.2em;
        }
    }
}