.Planos{
    grid-column: 1 / -1;
}

.planosContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.PlanoItem{
    height: 600px;
    width: 350px;
    box-shadow: 8px 1px 20px rgba(0, 0, 0, 0.295);
    @include Device(s){
        height: 650px;
        width: 250px;
    }
    margin: 32px;
    text-align: center;
    @include Tipografia(texto);
    h1{
        margin-bottom: 32px;
        @include Tipografia(titulo);
    }

    p{
        font-weight: bold;
        margin-bottom: 16px;
    }
    ul{
        li{
            margin: 16px;
        }
    }
    .Price{
        @include Tipografia(titulo)
    }

    .ContatoContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
        font-weight: bold;
        span{
            margin-left: 16px;
        }
    }
}

.Silver{
    padding: 10px;
    border: 3px solid gray;
}
.Gold{
    padding: 10px;
    border: 3px solid rgb(251, 255, 0);
}
.Platinum{
    padding: 10px;
    border: 3px solid rgb(0, 183, 255);
}

.saibaMais{
    @include Button;
    border-radius: 4px;
    a{
        color: white;
    }
}