// Color
$textColor: #000000;
$after_before: #FF1F6D;
$backGround: #FFE739;
$have: rgb(0, 107, 0);
$Dhave: rgb(124, 0, 0);

//Size-Tamnho
$l-device: 1200px;
$m-device: 760px;
$s-device: 480px;

//Fontes 
@mixin Tipografia($Tipo) {
    @if $Tipo == texto {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
    }
    @else if $Tipo == titulo {
        font-family: 'PT Serif', serif;
        font-size: 2em;
    }
    @else if $Tipo == subtitulo {
        font-family: 'DM Serif Text', serif;
        font-size: 1.2rem;
    }
}

//Media Query
@mixin Device($Tamanho) {
    @if $Tamanho == l {
        @media screen and (min-width: #{$l-device - 1}){
            @content;
        } 
    } @else if $Tamanho == m {
        @media screen and (min-width: #{$m-device - 1}) and 
        (max-width: #{$l-device - 1}){
            @content;
        }
    } @else if $Tamanho == s {
            @media screen and (max-width: #{$m-device - 1}){
                @content;
            } 
        }
}

@mixin  Button {
    padding: 15px;
    @include Tipografia(texto);
    color: white;
    font-weight: bolder;
    background-color: $after_before;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover{
        box-shadow: 2px 2px 0px black;
        transition: .5s;
        font-size: 1.1rem;
    }
}

@keyframes ZoomImage{
    to{
        transform: initial;
    }
}